/* width <=576px, CELLPHONE*/

.page{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: gray;
}
 

.body-data{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
}

.body-password{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
}


/* 576px < width < 992px , TABLETS*/
@media(min-width: 576px){

   

}
/* 992px < width, DESKTOP*/
@media(min-width: 992px){

   
   

}
